/* Εξωτερικό CSS αρχείο, για την μορφοποίηση της σελίδας-εφαρμογής σε προεπιλεγμένη εμφάνιση */

/* Ορίζουμε to σύμβολο του αστερίσκου (*) για μορφοποίηση όλης της σελίδας. 
(πχ σε περιπτώσεις που θέλουμε να ορίσουμε γραμματοσειρά)*/

*{
	font-family: Trebuchet MS;
}

/* Θα εξετάσουμε την μορφοποίηση για το "σώμα" της σελίδας. (body tag)
Ιδιαίτερα εάν θέλουμε να ορίσουμε χρώμα κειμένου, χρώμα υποβάθρου, εικόνα υποβάθρου,
διαβάθμιση, στοίχιση (μερικές φορές), margin, padding κλπ. */

body{
	background-color: white;
	padding: 0;
	box-sizing: border-box;
}

/* Η παρακάτω μορφοποίηση, θα εφαρμοστεί για το κύριο μενού της εφαρμογής μας */

.main-menu-container{
	margin: auto;
	text-align: center;
	padding: 50px;
	width: 50%;
	margin-top: 100px;
	border: 3px solid #c4f7ffd1;
	box-shadow: 4px 2px 4px 2px #c4f7ffd1;
	/* background-color: #f1fdff91; */
	background: linear-gradient(45deg, aliceblue, white);
}

/* Εδώ θα εφαρμοστεί μορφοποίηση για την κεφαλίδα του κύριου μενού  */

#menu-header{
	font-size: 20px;
}

/* Εδώ θα εφαρμοστεί μορφοποίηση για την περιγραφή του κύριου μενού  */

#menu-description{
	font-size: 15px;
}

/* Η παρακάτω μορφοποίηση, θα καθορίσει τα κουμπιά του κυρίου μενού της εφαρμογής μας */

.buttons-container{
	padding: 10px;
	margin: auto;
	display: block;
	background-color: transparent;
}

/* Η παρακάτω μορφοποίηση, θα καθορίσει την εμφάνιση των κουμπιών του κυρίου μενού της εφαρμογής μας */

.menu-btn{
	cursor: pointer;
	font-weight: bold;
	margin: auto;
	/* display: block; */
	border: none;
	outline: none;
	padding: 20px;
	width: 50%;
	margin-bottom: 15px;
	border-radius: 5px;
	background-color: #d5ecf5b0;
	box-shadow: 6px 4px 6px #6dbdb58c;
}

/* when hovered */

.menu-btn:hover{
	background-color: #68e8db82;
	transition: 0.2s;
}

/* when active */

.menu-btn:active{
	background-color: #68e8db82;
}

/* Εδώ θα εφαρμοστεί μορφοποίηση για τα credits του κύριου μενού  */

#credits-comment{
	font-size: 12px;
	font-style: italic;
}

/* Εδώ θα εφαρμοστεί μορφοποίηση για τους συνδέσμους των credits του κύριου μενού  */

#links{
	list-style-type: none;
	font-size: 12px;
}

/* Εδώ θα εφαρμοστεί μορφοποίηση για τους συνδέσμους των credits του κύριου μενού, 
επιλέγοντας μόνο το attribute a που αντιστοιχεί σε anchor text. */

#links a{
	text-decoration: none;
	display: inline;
	color: #39bfba;
	text-transform: lowercase;
	font-weight: bold;
}

/* Η παρακάτω μορφοποίηση, θα εφαρμοστεί για το πλαίσιο των ερωτήσεων της εφαρμογής μας */
/* (οι ερωτήσεις θα είναι ξεχωριστή μορφοποίηση) */

.quiz-container{
	display: none;
	margin: auto;
	text-align: center;
	padding: 50px;
	width: 50%;
	margin-top: 100px;
	border: 3px solid #c4f7ffd1;
	box-shadow: 4px 2px 4px 2px #c4f7ffd1;
	/* background-color: #f1fdff91; */
	background: linear-gradient(45deg, aliceblue, white);
}

/* Εδώ θα εφαρμοστεί μορφοποίηση για το πλαίσιο του σκορ εντός του παιχνιδιού */
/* (όχι τη μεταβλητή του σκορ αν και θα είναι ξεχωριστή μορφοποίηση) */

.score-panel{
	
}

/* Εδώ θα εφαρμοστεί μορφοποίηση για τη μεταβλητή του σκορ εντός του παιχνιδιού */
/* Αποτελεί ξεχωριστή μορφοποίηση. */

#score{
	
}

/* Εδώ θα εφαρμοστεί μορφοποίηση για τις ερωτήσεις της εφαρμογής μας */
/* Αποτελεί ξεχωριστή μορφοποίηση. */

#questions{
	
}

/* Εδώ θα εφαρμοστεί μορφοποίηση για το τελικό αποτέλεσμα του παιχνιδιού, δηλαδή το μήνυμα που θα βγάζει στον παίκτη. */

#result{
	
}

/* Η παρακάτω μορφοποίηση, θα καθορίσει την εμφάνιση των κουμπιών κατά τη διάρκεια του παιχνιδιού */

.action-btn{
	
}

/* Η παρακάτω μορφοποίηση, θα εφαρμοστεί για τις ρυθμίσεις της εφαρμογής μας */

.settings-container{
	display: none;
	margin: auto;
	text-align: center;
	padding: 50px;
	width: 50%;
	margin-top: 100px;
	border: 3px solid #c4f7ffd1;
	box-shadow: 4px 2px 4px 2px #c4f7ffd1;
	/* background-color: #f1fdff91; */
	background: linear-gradient(45deg, aliceblue, white);
}

/* Η παρακάτω μορφοποίηση, θα εφαρμοστεί για το πλαίσιο επιλογής δυσκολίας της εφαρμογής μας */

.choose-difficulty-container{
	display: none;
	margin: auto;
	text-align: center;
	padding: 50px;
	width: 50%;
	margin-top: 100px;
	border: 3px solid #c4f7ffd1;
	box-shadow: 4px 2px 4px 2px #c4f7ffd1;
	/* background-color: #f1fdff91; */
	background: linear-gradient(45deg, aliceblue, white);
}